.team-card {
    &__item {
        margin: 0 50px;
        padding: 0;
        max-width: 960px;
        // position: relative;

        // &:after {
        //     content: '';
        //     display: block;
        //     padding-bottom: 40.5%;
        // }

        .team-card__contaiter {
            h4 {
                margin: 20px 0 0 0;
                font-size: 14px;
                color: $color-gray;
                font-family: 'Montserrat';
                font-weight: 400;
                text-align: center;
            }
            p {
                margin: 0;
                font-size: 15px;
                line-height: 24px;
                color: #999999;
                font-family: 'Roboto';
                font-weight: 300;
                font-style: italic;
                text-align: center;
            }
        }
    }
}
