.team-card__image {
    display: block;
    width: 100%;
    height: 100%;

    max-width: 350px;
    min-height: fit-content;

    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // object-fit: cover;
    // object-position: center;
    // object-fit: cover;
    // object-position: center;

    &:hover {
        transform: scale(1.05);
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
        box-shadow: 0 0 10px #ccc;
    }

    @media (max-width: $breakpoint-tablet) {
        max-width: 100%;
    }
}
