.out-team {
    &__header {
        margin: 0 auto;
        padding: 0;
        font-size: 24px;
        color: #333333;
        font-family: 'Kaushan Script';
        font-weight: 400;
        text-align: center;
    }

    &__title {
        margin: 0 auto;
        padding: 0;
        font-size: 30px;
        color: $color-gray;
        font-family: 'Montserrat';
        font-weight: 700; // Так по макету
        text-align: center;
    }

    &__separator {
        margin: 0 auto;
        padding: 0;
        width: 60px;
        height: 3px;
        background-color: $color-pink;
    }

    &__text {
        p {
            font-size: 15px;
            line-height: 24px;
            color: $color-light-gray;
            font-family: 'Roboto';
            font-weight: 400;
            text-align: center;
        }
    }
}
