.team-card {
    margin-top: 6%;
    display: flex;
    width: 100%;

    flex-wrap: nowrap;
    justify-content: center;

    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
    }
}
